.box{
    height: 120px;
    width: 120px;
    background-color: grey
}

.boxpink{
    height: 120px;
    width: 120px;
    background-color: pink;
}

.boxblue{
    height: 120px;
    width: 120px;
    background-color: lightblue;
}